<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ABC Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="/media/logo.jpeg" width="50"><a class="navbar-brand" href="#">ABC COMPANY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="/adminhome/">Dashboard</a></li>
           <li> <a href="/viewemployee/">View Employees</a></li>
           <li> <a href="/logout/">Logout</a>
          
        </li>
          
        </li>

      </ul>
    </div>
    
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
 
  <form action="/addemployee/" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <h3 class="margin" style="color: blue; font-size: 35pt;"> <b>ADD EMPLOYEE</b></h3><i style="color: green;">{{success}}</i><i style="color: red;">{{fail}}></i>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="usr">Name</label>
        <div class="col-sm-8"><input type="text" class="form-control"  name="emp_name" id="usr" pattern="[a-zA-z](3,100}" title="charchters only"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="usr">Email</label>
      <div class="col-sm-8"><input type="email" class="form-control"  name="email" id="usr" title="Valid email" ></div>  
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="usr">Username</label>
      <div class="col-sm-8"><input type="text" class="form-control"  name="username" id="usr" pattern="[a-A-z]{3,30}" title="upto 30 characters only"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Password</label>
      <div class="col-sm-8"><input type="password" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" id="pwd"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="phone" >Phone</label>
      <div class="col-sm-8"><input type="tel" pattern="[0-9]{10}" title="Only 10 digit valid mobile number" class="form-control" id="phone" name="phone"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="address">Address</label>
      <div class="col-sm-8"><input type="text" class="form-control"  name="address" id="usr"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="designation" >Designation</label>
      <div class="col-sm-8"><input type="text" class="form-control" pattern="[a-zA-z]{3,100}" title="Only characters"  name="designation" id="usr"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="dob" min="1920-01-01" max="2000-01-01">DOB</label>
      <div class="col-sm-8"><input type="date" class="form-control"  name="dob" id="dob"></div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-4" for="doj">DOJ</label>
      <div class="col-sm-8"><input type="date" class="form-control" min="2000-01-01"  name="doj" title="Min 2000, Company started in 2000" id="usr"></div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-4" for="salary">Salary</label>
      <div class="col-sm-8"><input type="number" class="form-control" pattern="[0-9]{1,10}" title="Only upto 10 digits" name="salary" id="usr"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="photo">Photo</label>
      <div class="col-sm-8"><input type="file" class="form-control" multiple accept='image/*' title="Only images of any format" name="photo" id="usr"></div>
    </div>

    <div class="form-group">
      <input type="submit" value="Add Employee" class="btn btn-primary">
    </div>
    </form>

  </div>
    <div class="col-md-3"></div>
</div>

   

  </form>
</div>



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>created by SAMRUDHA VC</p> 
</footer>

</body>
</html>
