<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ABC Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="/media/logo.jpeg" width="50"><a class="navbar-brand" href="#">ABC COMPANY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        
        <li><a href="/">Home</a>
          
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-1 text-center">

  <img src="/media/logo.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="ABC COMPANY" width="350" height="350">
<CENTER>
  <form action="/login/" method="POST" >
    {% csrf_token %}
    <table >
       <tr><td>Username</td>
      <td><i style="color: blue;"><input type="text" name="username"></i></td></tr> 
<tr><td>Password</td><td><i style="color: blue;"> <input type="password" name="password"></i></td></tr>       
      <tr><td colspan="10" style="text-align: center;"> <b style="color: blue;">  <input type="submit" value="Login"></b>
     </td></tr> 
    </table>
  </form>
</CENTER>
</div>



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>created by SAMRUDHA VC</p> 
</footer>

</body>
</html>
