<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ABC Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="/media/logo.jpeg" width="50"><a class="navbar-brand" href="#">ABC COMPANY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        
        <li><a href="/">Home</a>
          
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-1 text-center">

  <img src="/media/logo.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="ABC COMPANY" width="350" height="350">

  <div class="container-fluid">
<div class="col-md-3">  </div>
<div class="col-md-6">
  <div class="row">
  <form action="/login/" method="POST"  class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label class="control-label col-sm-5" for="usrrname">Username:</label>
      <div class="col-sm-4"><input type="text" pattern="[a-A-z]{3,30}" title="upto 30 characters only" class="form-control" id="username" name="username"></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5" for="pwd">Password:</label>
      <div class="col-sm-4"><input type="password"  class="form-control" name="password" id="pwd"><br></div>
    </div>
  </div>
    <div class="form-group">
      
          <input type="submit" class="btn btn-primary" value="Login">
    </div>
  </div>

  <div class="col-md-3"></div>
  </div>
  </form>
</div>
</div>



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>created by SAMRUDHA VC</p> 
</footer>

</body>
</html>
