<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ABC Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="/media/logo.jpeg" width="50"><a class="navbar-brand" href="#">ABC COMPANY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        

        <li><a href="/addemployee/">Add Employee</a>
            <li><a href="/adminhome/">Dashboard</a></li>
           <li> <a href="/logout/">Logout</a>
          
        </li>
        </li>

      </ul>
    </div>
    
  </div>
</nav>


<div class="container-fluid" style="background-color:rgb(233, 252, 152); color:rgb(58, 20, 128); text-align: center; height: 30px;">
<h3>OUR EMPLOYEE</h3>
</div>
<div class="container-fluid" style="background-color:pink; color:purple;">
    {% if employees %}
   
        <div class="row">      
              {% for x in employees %}
    
         
            
          <div class="col-md-2">
            <div class="thumbnail" >
         
            <img src="{{x.image.url}}" width="200"><br>
            Name : {{x.emp_name}}<br>
            Address : {{x.address}}<br>
            Mob : {{x.phone}}<br>
            Designation : {{x.designation}}<br>
            DOB : {{x.dob}}<br>
            DOJ : {{x.doj}}<br>
            Salary : {{x.salary}}<br>
        </div>
        </div>
        {% endfor %}
        </div>
        </div>
    {% else %}
        <p>NO EMPLOYEE RECORDS</p>
    {% endif %}
    </div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>created by SAMRUDHA VC</p> 
</footer>

</body>
</html>
